<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="admin-fragments :: admin_head">
    <title>Product List</title>
</head>

<body class="nav-fixed bg-light">
    <!-- Nav Bar -->
    <div th:insert="admin-fragments :: admin_navbar" />

    <!-- Layout wrapper-->
    <div id="layoutDrawer">
        <!-- side bar -->
        <div th:insert="admin-fragments :: admin_sidebar" />
        <!-- Layout content-->
        <div id="layoutDrawer_content">
            <!-- Main page content-->
            <main>
                <form method="post">
                    <!-- Page header-->
                    <header>
                        <div class="align-items-center container-xl d-flex flex-row justify-content-between px-5">
                            <h1 class="text-dark py-3 mb-0 display-6">Product List</h1>
                        </div>
                    </header>
                    <div class="container-xl p-4">
                        <div class="card card-raised table-card-shadow">
                            <div class="card-body text-center p-5">
                                <table class="display nowrap table table-striped" style="width:100%" id="tableOne">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Group</th>
                                            <th>Category</th>
                                            <th>Description</th>
                                            <th>Product Unit</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Action</th>
                                            <th>Created Date</th>
                                            <th>Created By</th>
                                            <th>Modified Date</th>
                                            <th>Modified By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="vertical-align: middle;">
                                            <td>PRD001</td>
                                            <td>LG 24" TV</td>
                                            <td>TV</td>
                                            <td>Electronic</td>
                                            <td class="text-truncate" style="max-width: 200px;">LG TVs suit every room
                                                and budget. From premium OLED and the ultimate LED TV, NanoCell, to our
                                                wider Ultra HD range. Which TV is right? Explore today.</td>
                                            <td>box</td>
                                            <td>250000</td>
                                            <td>6</td>
                                            <td><a class="btn table-pri-btn ps-2 pe-2" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                                                    data-bs-title="Edit"><i class='bx bxs-edit bx-xs'></i></a></td>
                                            <td>12-10-2022 18:14:51</td>
                                            <td>Admin</td>
                                            <td>12-10-2022 18:14:51</td>
                                            <td>Admin</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </main>

            <!-- copyright footer -->
            <div th:insert="admin-fragments :: admin_cr_footer" />
        </div>
    </div>

    <div th:insert="admin-fragments :: admin_footer" />

</body>

</html>