<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Sign in</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/bootstrap/css/bootstrap.min.css}" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" th:href="@{/resources/assets/css/sign-in-&-register.css}" />
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>

<body class="text-center body-img">
  <main class="form-signin p-0">
    <div class="card mb-2 me-2 ms-2">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="pb-5 pe-4 ps-4 pt-5">
              <p class="welcome mb-3">WELCOME TO</p>
              <img th:src="@{/resources/assets/img/logo.jpg}" width="230" class="mb-4 me-3 mt-2" />
              <div class="text-start">
                <p class="text-center login-label mb-1">
                  Log in to continue to your account.
                </p>
              </div>
              <div th:if="${param.error}">
                <p style="color: red;">Invalid Id or Password!</p>
              </div>
              <form class="pe-4 ps-4 user" th:action="@{/login}" method="post">
                <div class="mb-2">
                  <input class="border border-1 border-secondary form-control mb-0 ps-3 rounded rounded-pill shadow-sm"
                    type="text" placeholder="Enter your email..." name="email" />
                </div>
                <div class="mb-2">
                  <input
                    class="border border-1 border-secondary form-control form-control-user ps-3 rounded rounded-pill shadow-sm"
                    type="password" placeholder="Enter Password...." name="password" />
                </div>
                <div class="mb-2">
                  <div class="custom-control custom-checkbox small">
                    <div class="ms-3 d-flex form-check">
                      <input class="me-2 border border-dark form-check-input" type="checkbox" id="formCheck-1"
                        name="remember-me" />
                      <label class="login-label text-dark form-check-label" for="formCheck-1">
                        Remember Me
                      </label>
                    </div>
                  </div>
                </div>

                <button class="border button btn d-block mb-3 rounded rounded-pill shadow-sm w-100"
                  data-bss-hover-animate="pulse">
                  Login
                </button>
              </form>
              <div>
                <p>
                  Not registered yet?
                  <span>
                    <a th:href="@{/register}" class="register-here">Register Here.</a>
                  </span>
                </p>
                <p class="mb-2 mt-3 text-secondary smallf">OR</p>
                <p class="text-secondary">Sign In with</p>
              </div>
              <a href="">
                <i class="fa-brands fa-facebook-f me-4 text-primary social-icons"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-google me-4 text-danger social-icons"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex d-none ps-0">
            <div class="flex-grow-1 bg-login-image photo-for-login" style="
                  background: url(@{/resources/assets/img/login-photo.png}) center / contain
                    no-repeat;
                "></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript" th:src="@{/resources/assets/js/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/resources/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>