<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="admin-fragments :: admin_head">
    <title>Product Permisson</title>
</head>

<body class="nav-fixed bg-light">
    <!-- Nav Bar -->
    <div th:insert="admin-fragments :: admin_navbar" />

    <!-- Layout wrapper-->
    <div id="layoutDrawer">
        <!-- side bar -->
        <div th:insert="admin-fragments :: admin_sidebar" />
        <!-- Layout content-->
        <div id="layoutDrawer_content">
            <!-- Main page content-->
            <main>
                <form method="post">
                    <!-- Page header-->
                    <header>
                        <div class="align-items-center container-xl d-flex flex-row justify-content-between px-5">
                            <h1 class="text-dark py-3 mb-0 display-6">Product Permission</h1>
                        </div>
                    </header>
                    <div class="container-xl p-4">
                        <div class="d-flex justify-content-end mb-3">
                            <a class="btn table-pri-btn shadow-sm"><i class='bx bx-user-check me-2 bx-sm' ></i>Permission</a>
                        </div>
                        <div class="card card-raised table-card-shadow">
                            <div class="card-body text-center p-5">
                                <table class="display nowrap table table-striped" style="width:100%" id="tableOne">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Email Address</th>
                                            <th>Can Edit</th>
                                            <th>Permission</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="vertical-align: middle;">
                                            <td>USR001</td>
                                            <td>Mg MG</td>
                                            <th>Salesperson</th>
                                            <td>email@gmail.com</td>
                                            <td><input type="checkbox" class="form-check-input ms-2" id="exampleCheck1"/></td>
                                            <td>Default</td>
                                            <td><a class="btn delete-icon-btn"><i class="material-icons">delete</i></a></td>
                                        </tr>
                                        <tr style="vertical-align: middle;">
                                            <td>USR002</td>
                                            <td>Kyaw Kyaw</td>
                                            <th>Editor</th>
                                            <td>email@gmail.com</td>
                                            <td><input type="checkbox" class="form-check-input ms-2" checked id="exampleCheck1"/></td>
                                            <td>Can Edit</td>
                                            <td><a class="btn delete-icon-btn"><i class="material-icons">delete</i></a></td>
                                        </tr>
                                        <tr style="vertical-align: middle;">
                                            <td>USR003</td>
                                            <td>Aye Aye</td>
                                            <th>Salesperson</th>
                                            <td>email@gmail.com</td>
                                            <td><input type="checkbox" class="form-check-input ms-2" id="exampleCheck1"/></td>
                                            <td>Default</td>
                                            <td><a class="btn delete-icon-btn"><i class="material-icons">delete</i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </main>

            <!-- copyright footer -->
            <div th:insert="admin-fragments :: admin_cr_footer" />
        </div>
    </div>

    <div th:insert="admin-fragaments :: admin_footer" />

</body>

</html>